# RabbitMQ connection URL
registryUrl: 'amqp://guest:guest@rabbitmq:5672/'

# RabbitMQ exchange name (cron-tasks by default)
# exchangeName: 'cron-tasks'

# List of tasks to manage
#
#  - routingKey: 'cron-tasks/archiver'        # Routing key for tasks delivery
#    schedule: '0 * * * * *'                  # Cron-like schedule string with seconds
#    payload:                                 # Any data to send with task
tasks:
  - routingKey: 'cron-tasks/archiver'
    schedule: '0 */5 * * * *'
    payload:

  - routingKey: 'cron-tasks/paymaster'
    schedule: '0 */5 * * * *'
    payload:
      type: 'workspace-subscription-check'

  - routingKey: 'cron-tasks/limiter'
    schedule: '0 */5 * * * *'
    payload:
      type: 'regular-workspaces-check'

  - routingKey: 'cron-tasks/task-manager'
    schedule: '0 */5 * * * *'
    payload:
      type: 'auto-task-creation'
